<div class='fullscreenDiv' style="padding: 20px;">


  <div style="width:40%">
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [formControl]="date" [matDatepicker]="picker" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <table mat-table [dataSource]="listBucket" class="mat-elevation-z8" style="width: 100%;">

      <!-- Weight Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Tamaño </th>
        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{getFormat(element.created)}} </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Example icon button with a heart icon">
            <a [href]="element.url" target="_blank">
              <mat-icon style="color:black;margin-top: 10px;">download</mat-icon>
            </a>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

    <div *ngIf="loading" class="blockSpinner">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>

    <div *ngIf="!hasData && !loading" class="blockSpinner">
      <p>No existen registros</p>
    </div>

  </div>

</div>