.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
}

.mat-column-url {
  width: 10px;
}
.mat-column-size {
  text-align: center;
}

.mat-column-date {
  text-align: center;
}
.blockSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: white;
}
